@model AssesmentApplication.Models.ViewModel.ReportViewModel

@{
    ViewBag.Title = "MainAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jqury-3.2.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<h2>Welcome To HomePage</h2>
@using (Html.BeginForm("ReportGenerate", "Home", FormMethod.Post))
{      <div>
            <button type="button" class="btn btn-default" id="AgeInputBtn">Get Report Based On Age Group </button>
            <button type="button" class="btn btn-default" id="StatesBtn">Get Report Based On Multiple State</button>
            <button type="button" class="btn btn-default" id="CombinationBtn">Get Report Based On Age Group and States</button>
        </div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $(document).ready(function () {         
                $("#AgeInputBtn").click(function () {
                    $("#MultipleState").hide();
                    $("#AgeGroup").show();
                    $('#submitBtn').show();
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#StatesBtn").click(function () {
                            $("#AgeGroup").hide();
                            $("#MultipleState").show();
                            $('#submitBtn').show();
                        });
                    });
        </script>
        <script type="text/javascript">
                    $(document).ready(function () {
                        $("#CombinationBtn").click(function () {
                            $("#AgeGroup").show();
                            $("#MultipleState").show();
                            $('#submitBtn').show();
                        });
                    });
        </script>
        }
    <div id="AgeGroup" style="display:none;">
        <br />
        <table>
            <tbody>
                <tr>
                    <th>Age Group</th>
                    <th>Lower Limit Age</th>
                    <th>Upper Limit Age</th>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.AgeGroup1) &nbsp;</td>
                    <td>@Html.TextBoxFor(model => model.AgeGroup1[0])</td>
                    <td>@Html.TextBoxFor(model => model.AgeGroup1[1])</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.AgeGroup2) &nbsp;</td>
                    <td>@Html.TextBoxFor(model => model.AgeGroup2[0])</td>
                    <td>@Html.TextBoxFor(model => model.AgeGroup2[1])</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.AgeGroup3) &nbsp;</td>
                    <td>@Html.TextBoxFor(model => model.AgeGroup3[0])</td>
                    <td>@Html.TextBoxFor(model => model.AgeGroup3[1])</td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div id="MultipleState" style="display:none;">
        <br />
        <div>@Html.LabelFor(model => model.ListOfStatesToShow)</div> 
        <div> @Html.ListBoxFor(model => model.ListOfSelectedStates, new SelectList(Model.ListOfStatesToShow), new { data_placeholder = "Choose a State...", @class = "dropdown",id="listBoxState" })</div>
    </div>
    <div id="submitBtn" style="display:none;">
        <br />
        <button type="submit" name="Action" value="GenerateReport" class="btn btn-default" id="generateReport">Generate Report</button>
        <button type="submit" name="Action" value="Reset" class="btn btn-default" id="generateReport">Reset</button>

    </div>
}
