@model AssesmentApplication.Models.ViewModel.ReportViewModel
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jqury-3.2.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>



<h2>Welcome To HomePage</h2>
@using (Html.BeginForm("ReportGenerate", "Home"))
{
    <div>
        <div>
            <button type="button" class="btn btn-default" id ="AgeInputBtn">Get Report Based On Group </button>
            <button type="button" class="btn btn-default" id ="StatesBtn">Get Report Based On Multiple State</button>
            <button type="button" class="btn btn-default" id ="CombinationBtn">Get Report Based On Both</button>
        </div>
     </div>

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            $(document).ready(function () {
                $("#AgeInputBtn").click(function () {
                    $("#AgeGroup").toggle();
                    $('#submitBtn').toggle();
                });
            });
        </script>
        <script type="text/javascript">
                    $(document).ready(function () {
                        $("#StatesBtn").click(function () {
                            $("#MultipleState").toggle();
                            $('#submitBtn').toggle();
                        });
                    });
        </script>
    }

    <script>
    $(document).ready(function () {
        $('#AgeGroup').hide();
        $('#submitBtn').hide();
        $('#AgeInputBtn').live('click', function (event) {
            $('#AgeGroup').toggle('show');
            $('#submitBtn').toggle('show');
        });
    });
    </script>
    <script>
        $(document).ready(function () {
            $('#MultipleState').hide();
            $('#submitBtn').hide();
            $('#StatesBtn').live('click', function (event) {
                $('#MultipleState').toggle('show');
                $('#submitBtn').toggle('show');
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#MultipleState').hide();
            $('#AgeGroup').hide();
            $('#submitBtn').hide();
            $('#CombinationBtn').live('click', function (event) {
                $('#AgeGroup').toggle('show');
                $('#MultipleState').toggle('show');
                $('#submitBtn').toggle('show');
            });
        });
    </script>

     <div id="AgeGroup"  style="display:none;">
         <table>
             <tbody>
                 <tr>
                     <th>Age Group</th>
                     <th>Lower Limit Age</th>
                     <th>Upper Limit Age</th>
                 </tr>
                <tr>
                    <td>@Html.LabelFor(model=>model.AgeGroup1, new { @class="control-label col-mod-2"})</td>
                    <td>@Html.TextBoxFor(model=>model.AgeGroup1[0],new {@class = "form-control"})</td>
                    <td>@Html.TextBoxFor(model =>model.AgeGroup1[1], new { @class = "form-control" })</td>
                </tr>
                 <tr>
                     <td>@Html.LabelFor(model => model.AgeGroup2, new { @class = "control-label col-mod-2" })</td>
                     <td>@Html.TextBoxFor(model => model.AgeGroup2[0], new { @class = "form-control" })</td>
                     <td>@Html.TextBoxFor(model => model.AgeGroup2[1], new { @class = "form-control" })</td>
                 </tr>
                 <tr>
                     <td>@Html.LabelFor(model => model.AgeGroup3, new { @class = "control-label col-mod-2" })</td>
                     <td>@Html.TextBoxFor(model => model.AgeGroup3[0], new { @class = "form-control" })</td>
                     <td>@Html.TextBoxFor(model => model.AgeGroup3[1], new { @class = "form-control" })</td>
                 </tr>
             </tbody>
         </table>

     </div>
     <div id="MultipleState" style="display:none;">
        <div>@Html.LabelFor(model=>model.ListOfStatesToShow,new { @class= "form-control" })</div>
         @for (int i = 0; i < 3; i++)
         {
         <div>@Html.DropDownListFor(model => model.ListOfSelectedStates[i], new SelectList(Model.ListOfStatesToShow), new { @class = "form-control selectpicker" })</div>
         }
     </div>

     <div id="Combination" style="display:none;">

     </div>
     <br/>
     <br/>
     <br/>
     <div id="submitBtn" style="display:none;">
    <button type="button" name="Action" value="GenerateReport" class="btn btn-default" id="generateReport" onclick="window.location = ('@Url.Action("","")')">Generate Report</button>
    <button type="button" name="Action" value="Clear" class="btn btn-default" id="generateReport" onclick="window.location = ('@Url.Action("","")')">Clear</button>
     </div>
}
@using (Html.BeginForm("ReportAgeGroup", "Home"))
{

}
@using (Html.BeginForm("ReportMultipleStates", "Home"))
{

}
@using (Html.BeginForm("ReportCombinations", "Home"))
{

}